src/*.os
src/*.o
src/**/*.os
src/**/*.o

tests/*.o
tests/**/*.o
tests/**/*.os

build/tests/src/*.o
build/tests/**/*.o
build/tests/src/**/*.os

.godot/
/android/

project/bin/*.uid
project/bin/*.so
/compile_commands.json
/.sconsign.dblite
/bin
/a.out
